
<section class="angular-app" ng-app="LibraryApp" ng-controller="mainAppController">
    <div class="jumbotron">
        <h1>{{greeting}}</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <section ng-class="'Search-options'">
            <button ng-class="'getbooks'" ng-click="searchBooks()">Get Books</button>


        </section>

    </div>

    <section ng-class="'search-form'">
        <form>
            <input type="text" ng-model="bookInfo.Title" placeholder="Book Title"/>
            <input type="text" ng-model="bookInfo.Author" placeholder="Book Author"/>
            <input type="text" ng-model="bookInfo.Genre" placeholder="Book Genre"/>
        </form>
    </section>

    <section ng-class="'search-results'">
        <section ng-repeat="book in bookList">
            <section ng-class="'results-row'" class="row">
                <section ng-class="'result-id'" class="col-md-1">
                    {{book.ID}}
                </section>

                <section ng-class="'book-title'" class="col-md-1">
                    {{book.Title}}
                </section>

                @* TODO: Update so that user can see Author's name in addition to all other pieces of data. *@
                <section ng-class="'book-author'" class="col-md-1">
                    {{book.AuthorID}}
                </section>

                <section ng-class="'book-genre'" class="col-md-1">
                    {{book.Genre}}
                </section>

                <section ng-class="'checkedOut'" class="col-md-1">
                    {{book.IsCheckedOut}}
                </section>

                <section ng-class="'user-Option'">
                    <button ng-if="!book.IsCheckedOut" ng-click="checkOutIn(book.ID , 'checkout')">Check book out</button>
                    <button ng-if="book.IsCheckedOut" ng-click="checkOutIn(book.ID , 'checkin')">Check book in</button>
                </section>
            </section>

        </section>
        <section ng-show="checkoutProcess" ng-class="'results-checkout'">
            <form>
                <input type="text" placeholder="email" ng-model="userEmail"/>
                <button ng-click="checkOut()">Check book out</button>
            </form>
        </section>
    </section>
</section>

