
<section class="angular-app" ng-app="LibraryApp" ng-controller="mainAppController">
    <div class="jumbotron">
        <h1>{{greeting}}</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <section ng-class="'Search-options'">
            <button ng-class="'getbooks'" ng-click="searchBooks()">Get Books</button>


        </section>

    </div>

    <section ng-class="'search-form'">
        <form>
            <input ng-model="bookInfo.Title" />
            <input ng-model="bookInfo.Author" />
            <input ng-model="bookInfo.Genre" />
        </form>
    </section>

    <section ng-class="'search-results'">
        <section ng-repeat="book in bookList">
            <section ng-class="'results-row'">
                <section ng-class="'result-id'">
                    {{book.ID}}
                </section>

                <section ng-class="'book-title'">
                    {{book.Title}}
                </section>
            </section>

        </section>
    </section>
</section>

